/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Apr-2015, 15:01:26
    Author     : Assa
*/

table, th, td {
   border: 1px solid black;
   
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}